@using BloquesJuarez.Datos;

@model Paginacion<BloquesJuarez.Models.Producto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-2">
    <div class="row p-2">
        <div class="col-6">
            <h2 class="text-info">Lista de Productos</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Producto" asp-action="Crear" class="btn btn-primary" data-toggle="tooltip" title="Agregar un nuevo producto o servicio">
                <i class="bi bi-plus"></i> Nuevo Producto
            </a>

            <!-- Nuevo botón para abrir el modal de cambiar precios -->
            <button class="btn btn-info ml-2" onclick="AbrirModalActualizarPrecios()" data-toggle="tooltip" title="Cambiar Precios Por Categoría.">
                <i class="bi bi-cash-coin"></i> Cambiar Precios
            </button>
        </div>

    </div>

    <form asp-controller="Producto" asp-action="Index">
        <p>
            Buscar: <input type="text" name="buscar" class="form-text" />
            <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
        </p>
    </form>
    <button onclick="goBack()" class="btn btn-primary">Volver</button>

    <hr />
    <br />

    @if (Model.Count() > 0)
    {
        <div class="row mt-3">
            <div class="col-md-2"></div> <!-- Div vacío izquierdo -->
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="table-dark text-center">
                                <th>Nombre</th>
                                <th>Categoría</th>
                                <th>Unidad de Medida</th>
                                <th>Precio</th>
                                <th style="width: 80px;">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.NombreProducto</td>
                                    <td>@item.Categoria.NombreCategoria</td>
                                    <td>@item.UniDeMedida</td>
                                    <td style="text-align: right;">@item.Precio.ToString("C2", System.Globalization.CultureInfo.CreateSpecificCulture("es-AR"))</td>
                                    <td class="text-center">
                                        <div class="btn-group" role="group">
                                            <a asp-controller="Producto" asp-action="Editar" asp-route-Id="@item.Id" class="btn btn-primary mx-2" data-toggle="tooltip" title="Modificar datos del producto">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                            <a asp-controller="Producto" asp-action="Eliminar" asp-route-Id="@item.Id" class="btn btn-danger mx-2" data-toggle="tooltip" title="Eliminar el producto">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-2"></div> <!-- Div vacío derecho -->
        </div>

        <nav>
            <ul class="pagination justify-content-center">
                @if (Model.PaginasAnteriores)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { numpag = Model.PaginaInicio - 1, filtroActual = ViewData["FiltroActual"] })">Anterior</a>
                    </li>
                }

                @for (int i = 1; i <= Model.PaginasTotales; i++)
                {
                    <li class="page-item @(i == Model.PaginaInicio ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { numpag = i, filtroActual = ViewData["FiltroActual"] })">@i</a>
                    </li>
                }

                @if (Model.PaginasPosteriores)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { numpag = Model.PaginaInicio + 1, filtroActual = ViewData["FiltroActual"] })">Siguiente</a>
                    </li>
                }
            </ul>
        </nav>
    }
    else
    {
        <p>No hay registros de Productos</p>
    }
    <div id="modalActualizarPrecios" class="modal">
        <div class="modal-content">
            <span class="close" onclick="CerrarModalActualizarPrecios()">&times;</span>
            <h2>Actualizar Precios</h2>

            <label for="categoria">Categoría:</label>
            <select id="categoria">
                <option value="todos">Todos</option>
                @foreach (var categoria in ViewBag.Categorias)
                {
                    <option value="@categoria.Id">@categoria.NombreCategoria</option>
                }
            </select>
            <label for="porcentaje">Porcentaje de Actualización:</label>
            <div class="input-group">
                <input type="number" id="porcentaje" placeholder="Ingrese el porcentaje" class="form-control">
                <span class="input-group-text">%</span>

            </div>


            <label for="direccion">Dirección de Modificación:</label>
            <select id="direccion">
                <option value="subir">Subir</option>
                <option value="bajar">Bajar</option>
            </select>

            <!-- Cambia el botón a un enlace y asigna un identificador único -->
            <a href="#" id="btnActualizarPreciosModal" onclick="ActualizarPrecios()" class="btn btn-info">Actualizar</a>
        </div>
    </div>

</div>


@section Scripts {
    <script>
        function goBack() {
            window.history.back();
        }
       
        function AbrirModalActualizarPrecios() {
            document.getElementById("modalActualizarPrecios").style.display = "block";
        }


        function CerrarModalActualizarPrecios() {
            // Limpiar los valores de los elementos dentro del modal
            document.getElementById("categoria").value = "todos";
            document.getElementById("porcentaje").value = "";
            document.getElementById("direccion").value = "subir";

            // Lógica para cerrar el modal
            document.getElementById("modalActualizarPrecios").style.display = "none";
        }


        function ActualizarPrecios() {
            var categoria = document.getElementById("categoria").value;
            var porcentaje = document.getElementById("porcentaje").value;
            var direccion = document.getElementById("direccion").value;

            // Validar que los valores sean correctos antes de realizar la solicitud AJAX
            if (!categoria || isNaN(porcentaje) || porcentaje <= 0 || !direccion) {
                // Mostrar mensaje de alerta
                alert("Por favor, complete todos los campos correctamente y asegúrese de que el porcentaje sea mayor que cero.");
                return;
            }


            // Realizar la solicitud AJAX
            $.ajax({
                url: '@Url.Action("ActualizarPrecios", "Producto")',
                type: 'POST', // Puedes cambiar a 'GET' según tus necesidades
                data: {
                    categoria: categoria,
                    porcentaje: porcentaje,
                    direccion: direccion
                },
                success: function (result) {
                    toastr.success('@TempData[WC.Exitosa]', 'Se modificaron los precios con éxito');
                    CerrarModalActualizarPrecios();

                    // Esperar 2000 milisegundos (2 segundos) antes de recargar la página
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                },



                error: function (error) {
                    // Mostrar el mensaje de error en un cuadro de alerta
                    toastr.error('@TempData[WC.Error]', 'Error al modificar los precios');
                }

            });
        }

   

    </script>
    <style>
        /* Estilos para el modal */
        #modalActualizarPrecios {
            display: none;
            position: fixed;
            top: 70px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 1000;
        }

            #modalActualizarPrecios .modal-content {
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 5px;
                max-width: 400px;
                margin: 0 auto;
                padding: 20px;
                position: relative;
            }

            /* Estilos para el botón de cerrar el modal */
            #modalActualizarPrecios .close {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }

            /* Estilos para el campo de entrada y el botón en el modal */
            #modalActualizarPrecios label {
                display: block;
                margin-bottom: 5px;
            }

            #modalActualizarPrecios select,
            #modalActualizarPrecios input[type="number"] {
                width: 100%;
                padding: 8px;
                margin-bottom: 10px;
                border: 1px solid #ccc;
                border-radius: 3px;
            }

            #modalActualizarPrecios button {
                background-color: #007bff;
                color: #fff;
                padding: 8px 16px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
            }

                #modalActualizarPrecios button:hover {
                    background-color: #0056b3;
                }
    </style>

}
